[submodule "Frameworks/ChatClientKit"]
	path = Frameworks/ChatClientKit
	url = https://github.com/Lakr233/ChatClientKit.git
[submodule "Frameworks/mlx-swift-lm"]
	path = Frameworks/mlx-swift-lm
	url = https://github.com/Lakr233/mlx-swift-lm.git
